.wrapper {
  font-size: 3;
  margin: 0;
  font-weight: 700;
}

.container {
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
