.header {
  min-width: 100%;
  width: 100%;
  height: 275px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--casBlue);
  padding-bottom: 1em;
}

.wrapper {
  min-width: 100%;
  width: 100%;
  display: flex;
  height: 100%;
  /* flex-wrap: wrap; */
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.textWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: auto;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 2em;
  gap: 0.5em;
  /* align-items: center; */
  flex-direction: column;
}

.logo a {
  letter-spacing: -1;
  text-decoration: none;
  /* padding-left: 5px; */
}

.casLogo {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.casLogo:hover {
  opacity: 0.7;
}

.navlinks li {
  /* width: 100%; */
  text-align: center;
}

.navlinks {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  padding: 0 2em;
}

.subMenuItemHide {
  display: none;
}

.subMenuItemShow {
  position: absolute;
  /* margin-top: 1.5em; */
  display: flex;
  gap: 2em;
  /* flex-direction: column; */
  align-items: flex-start;
  background-color: var(--cream);
  /* padding: 0 1em 1em 1em; */
  z-index: 1;
  padding: 1em;
  margin-top: 1em;
}

.subSubLinkList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  list-style-type: "- ";
  padding-left: 1em;
}

.subSubLinkList li {
  text-align: left;
}

.subSubLinkList li::marker {
}
/* .navlinks:first-child:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navlinks:first-child {
  transition: opacity 0.3s ease;
} */

.cart {
  display: flex;
  align-items: center;
  gap: 1em;
}

.top h4 {
  text-align: left;
}

#menuToggle {
  display: none;
}

.imageWrapper,
.mobileContainer,
.navigation {
  display: none;
}
/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .navigation {
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    display: flex;
  }
  .mobileContainer {
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
    width: auto;
  }
  .mobileContainer a {
    justify-content: flex-end;
  }
  .mobileContainer a > svg {
    min-width: 30px;
    min-height: 30px;
  }
  .imageWrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageWrapper img,
  .imageWrapper a {
    height: 100%;
    max-height: fit-content;
    width: 100%;
    max-width: fit-content;
  }
  #categories {
    border-top: 1px solid black;
  }
  .header {
    z-index: 999;
    max-height: 115px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
  }
  .wrapper {
    display: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
  }

  #menuToggle input {
    display: flex;
    width: var(--font-xxl);
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 15;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    border-radius: 3px;
    z-index: 10;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    width: 200px;
    height: 1000px;
    box-shadow: 0 0 10px #85888c;
    margin: -60px 0 0 -25px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5.5em;
    background-color: #f5f6fa;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    transition-delay: 2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menuHeader {
    width: 100%;
    border-bottom: 1px solid black;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #social {
    border-top: 1px solid var(--grey);
    padding-top: 1em;
    margin-top: 10em;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .expand {
    padding: 0;
    border: none;
    background-color: inherit;
    opacity: 1;
    cursor: pointer;
  }

  .expand:focus ~ ul {
    transform: none;
  }

  .subMenuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .subMenuToggle input {
    display: flex;
    width: var(--font-xxl);
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .subMenuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .subMenuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .subMenuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .subMenuToggle input:checked ~ span {
    opacity: 0;
    /* transform: rotate(155deg) translate(-15px, 0); */
    background: #36383f;
  }

  .subMenuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    opacity: 0;
  }

  .subMenuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 0;
  }

  .subLinksMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    position: absolute;
    top: 0;
    width: 205px;
    height: 1000px;
    box-shadow: 0 0 10px #85888c;
    margin: -60px 0 0 -18px;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 9em;
    background-color: #f5f6fa;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 5;
  }

  .subSubLinksMenu {
    z-index: 10;
  }

  .subLinksMenu li {
    position: relative;
    /* top: 450px; */
    margin: 0 0 0 0px;
    color: black;
    z-index: 6;
  }

  .backButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: inherit;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 0;
  }

  .container {
    display: none;
  }

  .cartButton {
    border: none;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    color: var(--casBlue);
  }
}
