.header {
    min-width: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    letter-spacing: -1;
    text-decoration: none;
    /* padding-left: 5px; */
}

.navlinks li {
    width: 100%;
    text-align: center;
}

.navlinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navlinks:first-child:hover {
    opacity: .7;
    cursor: pointer;
}

.navlinks:first-child {
    transition: opacity .3s ease;
}