.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

.wrapper > ul {
  display: flex;
  gap: 0.5em;
}

.active {
  border-bottom: 1px solid var(--casBlue);
  color: var(--casBlue);
}
/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .wrapper {
  }
  .wrapper > ul {
    gap: 0em;
  }
  .wrapper > ul > li > span {
    padding-left: 0.25em;
  }
}
