.footer {
  min-width: 100%;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  max-height: 300px;
  padding: 2em 5em;
  background-color: var(--casBlue);
  color: white;
}

.footer > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logoWrapper {
  min-width: fit-content;
}

.link {
  position: relative;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link::before {
  background-color: var(--casOrange);
}

.link:hover {
  color: var(--casOrange);
}

.link:hover::before {
  transform: scaleX(1);
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: fit-content;
    max-height: fit-content;
    justify-content: space-between;
    padding: 0 1em;
    margin-top: 1em;
  }
  .footer > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
    padding-bottom: 1em;
  }
  .footer > ul > li:nth-child(even) {
    text-align: right;
  }
  .footer > ul > li {
    padding-top: 1em;
  }
  .logoWrapper {
    padding-top: 1em;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}
