.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100%;
  max-width: 576px;
  min-height: 700px;
  max-height: 700px;
  height: 100%;
  object-fit: cover;
  padding: 1em;
}

.container a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.textContainer {
  padding: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 576px;
  min-height: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer h1 {
  margin-top: 1em;
}

.textContainer h4 {
  margin-bottom: 1em;
}

.textContainer h1 {
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.textContainer h4 {
  color: white;
  text-transform: uppercase;
}

.textContainer > div {
  display: flex;
  justify-content: center;
}

.link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link::before {
  background-color: var(--teal);
}

.link:hover {
  color: var(--teal);
}

.link:hover::before {
  transform: scaleX(1);
}
