.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100%;
  max-width: 576px;
  min-height: 700px;
  max-height: 700px;
  height: 100%;
  object-fit: cover;
  padding: 1em;
}

.container a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.textContainer {
  padding: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 576px;
  min-height: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer h1 {
  margin-top: 1em;
}

.textContainer h4 {
  margin-bottom: 1em;
}

.textContainer h1 {
  width: 100%;
  text-align: center;
  color: var(--cream);
  text-transform: uppercase;
}

.textContainer h4 {
  color: var(--cream);
  text-transform: uppercase;
}

.textContainer a {
  padding: 0.25em 0.5em;
}

.textContainer > div {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--casBlue);
  box-shadow: inset 0 0 0 0 var(--casBlue);
  background-color: var(--cream);
  position: relative;
  /* border-radius: 5px; */
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* .link::before {
  content: "";
  position: absolute;
  top: 100%;
  right: -0.025em;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.link::before {
  background-color: var(--casBlue);
} */

.link:hover {
  /* color: var(--casBlue); */
  /* background-color: var(--cream); */
  color: var(--cream);
  box-shadow: inset 235px 0 0 0 var(--casBlue);
}

/* .link:hover::before {
  transform: scaleX(1);
} */

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .textContainer {
    padding: 0;
  }

  .container img {
    padding: 0;
  }
}
