.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .listItem p {
  width: 100%;
  text-align: center;
} */

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  }
}
