.link {
  box-shadow: inset 0 0 0 0 var(--casBlue);
  background-color: var(--casOrange);
  color: var(--white);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 14px 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.link:hover {
  color: #fff;
  box-shadow: inset 215px 0 0 0 var(--casBlue);
}
