.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.first {
  border-bottom: 2px solid var(--casBlue);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.padding5 {
  padding: 5px;
}

.card {
  max-width: 300px;
  min-width: 300px;
  min-height: 350px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.card > div:first-child {
  width: 250px;
  height: 250px;
  background-color: lightGrey;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .card {
    max-width: 150px;
    min-width: 150px;
    min-height: 235px;
    max-height: 235px;
  }

  .card > div:first-child {
    max-width: 125px;
    min-width: 125px;
    min-height: 125px;
    max-height: 125px;
  }
}
