.h2 {
  margin-top: 4px;
  font-size: 14px;
}

.imgWrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imgWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  width: 100%;
  height: 100%;
}

.p {
  font-size: 12px;
}

.skeletonImg {
  max-width: 350px;
  max-height: 350px;
  min-height: 350px;
  min-width: 350px;
  background-color: grey;
}

.skeletonTitle {
  max-height: 22px;
  min-height: 22px;
  min-width: 100px;
  max-width: 100px;
  background-color: grey;
}

.skeletonPrice {
  max-height: 22px;
  min-height: 22px;
  min-width: 75px;
  max-width: 75px;
  background-color: grey;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .container {
    padding: 0 !important;
    max-width: 300px !important;
    max-height: 300px !important;
    min-width: 300px !important;
    min-height: 300px !important;
    margin-bottom: 50px !important;
  }
}
