.h2 {
  margin-top: 4px;
  font-size: 14px;
}

.imgWrapper img {
  object-fit: cover;
  max-height: 300px;
  /* width: 100%; */
  /* height: 100%; */
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.imgWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrapper img {
  min-height: 250px;
  max-height: 250px;
}

.link {
  width: 100%;
  height: 100%;
}

.p {
  font-size: 12px;
}

.skeletonImg {
  max-width: 350px;
  max-height: 350px;
  min-height: 350px;
  min-width: 350px;
  background-color: grey;
}

.skeletonTitle {
  max-height: 22px;
  min-height: 22px;
  min-width: 100px;
  max-width: 100px;
  background-color: grey;
}

.skeletonPrice {
  max-height: 22px;
  min-height: 22px;
  min-width: 75px;
  max-width: 75px;
  background-color: grey;
}

.button {
  box-shadow: inset 0 0 0 0 var(--casBlue);
  background-color: var(--casOrange);
  padding: 0.25em 0;
  outline: none;
  color: white;
  letter-spacing: 0.075em;
  text-transform: capitalize;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--casOrange);
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.button:hover {
  color: #fff;
  box-shadow: inset 280px 0 0 0 var(--casBlue);
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .LinkContainer {
    min-height: 235px;
    justify-content: space-between;
  }
  .container {
    padding: 0 !important;
    max-width: 150px !important;
    max-height: 235px !important;
    min-width: 150px !important;
    min-height: 235px !important;
    border: none !important;
  }

  .catContainer {
    padding: 0 !important;
    max-width: 150px !important;
    max-height: 200px !important;
    min-width: 150px !important;
    min-height: 220px !important;
    border: none !important;
  }

  .catContainer .LinkContainer {
    min-height: 200px;
    justify-content: space-between;
  }
  .imgWrapper img {
    max-width: 125px !important;
    max-height: 125px !important;
    min-width: 125px !important;
    min-height: 125px !important;
  }
  .imgWrapper {
    padding: 0;
  }
  .button {
    background-color: var(--casOrange);
    color: white;
    font-weight: bold;
    padding: 0.25em 0;
  }
}
