.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1em;
  margin: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.wrapper > div:nth-child(2),
.wrapper > div:first-child {
  width: 100%;
  justify-items: center;
  padding-bottom: 2em;
}

.width {
  width: 100%;
}

.mobile {
  display: none;
}

.skeletonCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 350px;
}

.skeletonImg {
  width: 250px;
  max-width: 250px;
  max-height: 250px;
  height: 250px;
  background-color: lightgrey;
}

.skeletonButton {
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    padding: 0 !important;
  }

  .container {
    flex-direction: column;
    padding-top: 1em;
  }

  .wrapper > div:nth-child(2) > div,
  .wrapper > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .wrapper > div:nth-child(2) > div {
    padding: 0;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
  }

  .grid {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* gap: 3em !important; */
    padding-top: 2em;
  }
  .grid div:first-child {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .productGrid {
    display: grid !important;
  }
  .gridBorder {
    padding-top: 2em;
    border-top: 2px solid var(--casBlue);
  }
  .skeletonCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 150px !important;
    max-height: 220px !important;
    height: 220px;
    width: 150px;
    min-height: 220px !important;
    min-width: 150px !important;
  }

  .skeletonImg {
    height: 125px !important;
    width: 125px !important;
  }

  .skeletonButton {
  }
}
