.button {
  margin: 8px;
  font-family: inherit;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.grid {
  display: flex;
}

.wrapper {
  position: absolute;
  min-width: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.container {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.outerGrid {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.box {
  border: 1px solid gray;
  padding: 8px;
  margin-bottom: 8px;
  height: 700px;
  max-height: 700px;
}
.box div {
  height: 100%;
  max-height: 600px;
}

/* .box > div {
  display: flex;
} */

.column {
  display: flex;
  flex-direction: column;
}

.span {
  margin-top: 0;
  margin-bottom: 8px;
}

.select {
  padding: 8px;
  padding-right: 32px;
  border-radius: 4px;
  background-color: var(--cream);
  font-size: inherit;
  font-family: inherit;
  width: 100%;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .box {
    height: fit-content;
  }

  .container {
    width: 100%;
  }
}
