.close {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  /* bg: 'text'; */
  /* color: 'background'; */
}

.close svg {
  cursor: pointer;
}

.wrapper {
  border: 1px solid red;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .close {
    margin-top: 6em;
  }
}
