.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1920px;
  min-width: 60vw;
  min-height: 800px;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .wrapper {
    padding-top: 6em;
    /* padding-bottom: ; */
  }
}
