.container {
  background-color: #191919;
  height: 100%;
}

.wrapper {
  text-align: center;
  /* position: absolute; */
  /* left: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100px;
  /* overflow: auto; */
  /* bottom: 10px; */
  /* transform: translatex(-50%); */
}

.box > div > div > div {
  background-size: contain !important;
  background-repeat: no-repeat;
}

.carousel {
  width: 100%;
  display: flex;
}

.carousel > div:last-child {
  width: 100%;
  max-width: 100%;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .carousel {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    max-height: fit-content !important;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100px !important;
    max-height: 100px !important;
  }

  .slider {
    max-height: 300px !important;
  }
}
