.container {
    background-color: #191919;
    height: 100%;
    border: 1px solid red;
}

.wrapper {
    text-align: center;
    position: absolute;
    left: 50%;
    max-width: 100%;
    overflow: auto;
    display: flex;
    bottom: 10px;
    transform: translatex(-50%);
}