.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
}

.link {
  position: relative;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link::before {
  background-color: var(--teal);
}

.link:hover {
  color: var(--teal);
}

.link:hover::before {
  transform: scaleX(1);
}

.imgLink {
  transition: opacity 0.3s ease-in-out;
}

.imgLink:hover {
  opacity: 0.7;
}
